.SearchContainer {
  position: fixed;
  justify-self: center;
  border-radius: 10px 10px 0 0;
  bottom: 5px;
  width: 100%;
  height: 70px;
  width: 80%;
  box-shadow: 0px 0px 7px 0.5px;
  display: flex;
  background-color: white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
